---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split("/").slice(1);

// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
breadcrumbList[0] === "posts" &&
  breadcrumbList.splice(0, 2, `Posts (page ${breadcrumbList[1] || 1})`);

// if breadcrumb is Home > Tags > [tag] > [page] <etc>
// replace [tag] > [page] with [tag] (page number)
breadcrumbList[0] === "tags" &&
  !isNaN(Number(breadcrumbList[2])) &&
  breadcrumbList.splice(
    1,
    3,
    `${breadcrumbList[1]} ${
      Number(breadcrumbList[2]) === 1 ? "" : "(page " + breadcrumbList[2] + ")"
    }`
  );
---

<nav class="breadcrumb" aria-label="breadcrumb">
  <ul>
    <li>
      <a href="/">~</a>
      <span aria-hidden="true"> / </span>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span aria-current="page">{decodeURIComponent(breadcrumb)}</span>
          </li>
        ) : (
          <li>
            <a href={`/${breadcrumb}`}>{breadcrumb}</a>
            <span aria-hidden="true"> / </span>
          </li>
        )
      )
    }
  </ul>
</nav>

<style>
  @reference "../styles/base.css";

  .breadcrumb {
    @apply text-skin-dim mx-auto mt-8 mb-1 w-full max-w-3xl px-4 text-sm;
  }
  .breadcrumb ul li {
    @apply inline;
  }
  .breadcrumb ul li a {
    @apply hover:text-skin-accent transition-colors duration-[120ms];
  }
  .breadcrumb ul li span[aria-current="page"] {
    @apply text-skin-base;
  }
</style>
