---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li class="my-1 inline-block">
  <a
    href={`/tags/${tag}`}
    transition:name={tag}
    class={size === "sm" ? "text-sm" : "text-base"}
  >
    #{tag}
  </a>
</li>

<style>
  @reference "../styles/base.css";

  a {
    @apply text-skin-dim hover:text-skin-accent transition-colors duration-[120ms];
  }
</style>
