---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose prose-img:border-0 mb-28 max-w-3xl">
      <p class="about-label">-- about</p>
      <h1 class="about-title text-2xl sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  @reference "../styles/base.css";

  .about-label {
    @apply text-skin-dim! text-sm;
  }
  .about-title {
    @apply font-semibold;
  }
</style>
